.tab-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tab-link.inactive {
    opacity: 0.4;
}

.demo-video {
    max-width: 800px;
}

.demo-video:focus {
    outline: none;
}

.feature-description samp {
    color: #159957;
    font-weight: bold;
}

.features li:not(:last-child) {
    margin-bottom: 20px;
}

#good-news {
    background: #2DD6BA; 
    padding: 20px;
}

#logo {
    max-height: 200px;
    max-width: 200px;
}
